body {
    background-image: url("../images/ChatGPT_Background_Image\ .png");
    background-size: cover;
    font-size: 1.2em;
}

h1 {
    color: rgb(189, 90, 113);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline rgb(189, 90, 113);
    display: flex;
    justify-content: center;
}

h2.second {
    color: #c43410;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline #c43410;
}

img {
    border: 3px solid rgb(189, 90, 113);
    max-width: 100%;
    height: auto;
    width: 90%;
    max-width: 100%;
}

.container { /*this is the grid in use*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 150%;
}

.projects {
    display: grid;
    gap: 30px;
}

.bolditalic {
    font-style: italic;
}

li.nav {
    font-size: 1em;
    display: inline;
    margin-right: 10px;
    list-style: none;
}

.navbar { /*This is the flexbox in use*/
    display: flex;
    justify-content: flex-start;
    font-size: 150%;
}

li.name {
    list-style: none;
    font-size: 150%;
}

li.withbullets {
    font-size: 150%;
}

li.me {
    margin-bottom: 30px;
    color: rgb(189, 90, 113);
}

ul.cv {
    margin-bottom: 30px;
    color: #532a63;
}

a:link {
    color:rgb(58, 142, 187);
}
a:visited {
    color:rgb(81, 123, 167);
}
a:hover {
    color:rgba(68, 0, 0, 0.583);
    text-decoration:overline;
}
a:active {
    color:rgb(143, 75, 75);
}